.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}

.navbrand{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.date{
    color: blueviolet;
}