.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}

.fa-sun{
    padding-top: 2rem;
}

.navbrand{
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.date{
    color: blueviolet;
}

@media only screen and (max-width: 700px){
    .navbar{
        flex-direction: row;
        position: fixed;
        width: 100%;
        justify-content: space-around;
    }
    .navbrand{
        writing-mode: horizontal-tb;
    }
    .fa-sun{
        padding-top: 0;
    }
}
